{% extends "@templates/base.twig" %}

{% block content %}

    <h1>Database</h1>

    <p>The "database" is a bunch of "tables", each stored into flat files of <a href="{{ url_yaml }}">YAML</a> format.</p>

    <p>Yaml files are into <code>path_data</code> with the following naming pattern <code>table.&lt;table_name&gt;.yaml</code></p>

    <p>Example of this demo file <code>table.persons.yaml</code> :</p>
    <pre style="overflow: auto;max-height: 15rem">{{ source('@data/table.persons.yaml') }}</pre>

    <p>
        It is based on <a href="https://gitlab.com/arnapou/lib/pfdb" target="_blank">arnapou/pfdb</a>
        library which allows you to search, group, sort and also modify data.<br>
        Anything that is doable in PHP code is doable in twig through the object <code>app.db</code>.</p>

    <h3>Find an item from its id</h3>

    <p>
        The element with id 5<br>
        {% verbatim %}<code><span class="text-muted">{{ </span>app.db.table('persons').get(5)<span class="text-muted"> | json_encode(constant('JSON_PRETTY_PRINT')) | raw }}</span></code>{% endverbatim %}
    </p>

    <pre>{{ app.db.table('persons').get(5) | json_encode(constant('JSON_PRETTY_PRINT')) | raw }}</pre>

    <h3>Listing</h3>

    <p>
        5 lines from 10th<br>
        {% verbatim %}<code><span class="text-muted">{% for person in </span>app.db.table('persons').find.limit(10, 5)<span class="text-muted"> %}</span></code>{% endverbatim %}
    </p>

    <table class="fixed">
        <tbody>
        {% for person in app.db.table('persons').find.limit(10, 5) %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.gender }}</td>
                <td>{{ person.language }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Finding and sorting</h3>

    <p>
        Names which contains <code>"an"</code> than sorted by name<br>
        {% verbatim %}<code><span class="text-muted">{% for person in </span>app.db.table('persons').find(app.db.expr.contains('name', 'an')).sort('name')<span class="text-muted"> %}</span></code>{% endverbatim %}
    </p>

    <table class="fixed">
        <tbody>
        {% for person in app.db.table('persons').find(app.db.expr.contains('name', 'an')).sort('name') %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.gender }}</td>
                <td>{{ person.language }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
