{% extends "@templates/base.twig" %}

{% block content %}

    <h1>Images</h1>

    <p>A small basic image resizing tool is built into the site's system.</p>

    <p>The resize is done to the largest width and the resized image is cached.<br>
        The cached image is automatically updated if the original image changes.</p>

    <h3>Raw image</h3>

    <ul>
        <li>Twig code: <code>{% verbatim %}&lt;img src="{{ asset('../assets/twig.png') }}"&gt;{% endverbatim %}</code></li>
        <li>Rendering: <img src="{{ asset('../assets/twig.png', 50) }}"></li>
    </ul>


    <h3>Resized image</h3>

    <p><b>Max(width, height)</b></p>
    <ul>
        <li>Twig code: <code>{% verbatim %}&lt;img src="{{ thumbnail('../assets/twig.png', 200) }}"&gt;{% endverbatim %}</code></li>
        <li>Rendering: <img src="{{ thumbnail('../assets/twig.png', 200) }}"></li>
    </ul>

    <p><b>Force width</b></p>
    <ul>
        <li>Twig code: <code>{% verbatim %}&lt;img src="{{ thumbnail('../assets/twig.png', 'w80') }}"&gt;{% endverbatim %}</code></li>
        <li>Rendering: <img src="{{ thumbnail('../assets/twig.png', 'w80') }}"></li>
    </ul>

    <p><b>Force height</b></p>
    <ul>
        <li>Twig code: <code>{% verbatim %}&lt;img src="{{ thumbnail('../assets/twig.png', 'h80') }}"&gt;{% endverbatim %}</code></li>
        <li>Rendering: <img src="{{ thumbnail('../assets/twig.png', 'h80') }}"></li>
    </ul>

    <p><b>Note</b></p>
    <p>
        Coming from the <code>pages</code> folder and not <code>public</code>, only access via resize is possible:
    </p>
    <ul>
        <li>Twig code: <code>{% verbatim %}&lt;img src="{{ thumbnail('../php.png', 100) }}"&gt;{% endverbatim %}</code></li>
        <li>Rendering: <img src="{{ thumbnail('../php.png', 100) }}"></li>
    </ul>

    <h3>Url format</h3>

    <table class="fixed">
        <thead>
        <tr>
            <th>Original image</th>
            <th>Resized image</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><code>{path}{basename}.{extension}</code></td>
            <td><code>{path}{basename}.{size}.{extension}</code></td>
        </tr>
        <tr>
            <td><code>some/path/image.jpg</code></td>
            <td><code>some/path/image.512.jpg</code></td>
        </tr>
        <tr>
            <td><code>some/path/image.jpg</code></td>
            <td><code>some/path/image.w512.jpg</code></td>
        </tr>
        <tr>
            <td><code>some/path/image.jpg</code></td>
            <td><code>some/path/image.h512.jpg</code></td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>Supported extensions: <code>jpg</code>, <code>png</code>, <code>gif</code></li>
        <li>Supported dimensions: minimum <code>16</code>, maximum <code>2000</code></li>
    </ul>

    <style>
        img {
            vertical-align: top;
        }
    </style>
{% endblock %}
