{% extends "@internal/error.404.twig" %}
{% import _self as macro %}

{% block title %}Internal Error{% endblock %}

{% block color_border %}#6b3d3d{% endblock %}
{% block color_background %}#E3DEEA{% endblock %}

{% block body %}
    {% if content %}
        <p>{{ content }}</p>
    {% else %}
        <p>Ooops, Something is wrong on our side!</p>
    {% endif %}
{% endblock %}

{% block svg %}{{ macro.svg(block('color_border'), '#fff', 0.8) }}{% endblock %}

{% macro svg(border, background, opacity) -%}
    <svg width="200" height="200" version="1.1" viewBox="0 0 52.917 52.917" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <metadata>
            <rdf:RDF>
                <cc:Work rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                    <dc:title/>
                </cc:Work>
            </rdf:RDF>
        </metadata>
        <g transform="translate(0 -244.08)">
            <circle cx="26.458" cy="270.54" r="25.135" fill="{{ background }}" fill-opacity="{{ opacity }}" stroke="{{ border }}" stroke-width="2.6458"/>
            <path transform="matrix(.26458 0 0 .26458 0 244.08)"
                  d="m100 125.72c-21.219 0-40.905 6.635-57.104 17.936a71.929 71.929 0 0 0 6.625 7.5059c14.389-9.7522 31.759-15.447 50.479-15.447 18.731 0 36.11 5.7021 50.504 15.465a71.929 71.929 0 0 0 6.5664-7.5449c-16.191-11.287-35.865-17.914-57.07-17.914z"
                  color="#000000" color-rendering="auto" dominant-baseline="auto" fill="{{ border }}" image-rendering="auto" shape-rendering="auto" solid-color="#000000"
            />
            <path d="m12.286 258.07 9.4494 9.4494" fill="#fff" fill-opacity=".79932" stroke="{{ border }}" stroke-width="2.6458"/>
            <path d="m21.735 258.07-9.4494 9.4494" fill="#fff" fill-opacity=".79932" stroke="{{ border }}" stroke-width="2.6458"/>
            <path d="m31.174 258.07 9.4494 9.4494" fill="#fff" fill-opacity=".79932" stroke="{{ border }}" stroke-width="2.6458"/>
            <path d="m40.623 258.07-9.4494 9.4494" fill="#fff" fill-opacity=".79932" stroke="{{ border }}" stroke-width="2.6458"/>
        </g>
    </svg>
{%- endmacro %}
