<!doctype html>
<html lang="fr">
<head>
    {% import _self as macro %}
    <meta charset="utf-8">
    <title>{{ code }} {{ text }}</title>
    <style>
        body {
            background: {% block color_background %}#D3DEEA{% endblock %};
            font-family: "Lato", sans-serif;
            font-size: 16px;
            margin: 2rem;
        }

        body > * {
            text-align: center;
            color: {% block color_border %}#4f5b68{% endblock %};
            margin: 1rem;
        }

        h1 {
            margin: 0;
            font-size: 9rem;
        }

        h2 {
            margin-top: 0;
            font-size: 2rem;
            color: {{ block('color_border') }};
            font-weight: bold;
        }

        p {
            color: {{ block('color_border') }};
        }
    </style>
</head>
<body>
<header>
    <h1>{{ code }}</h1>
    <h2>{{ text }}</h2>
</header>
<main>
    {{ source('@internal/svg/error-'~(404 == code ? '404' : '500')~'.svg')|replace({'#f00': block('color_border')})|raw }}

    {% if 404 == code %}
        <p>{{ content ?: 'Boo, looks like a ghost stole this page!' }}</p>
    {% elseif 400 <= code and code < 500 %}
        <p>{{ content ?: 'Ooops, Something is wrong on your side!' }}</p>
    {% else %}
        <p>{{ content ?: 'Ooops, Something is wrong on our side!' }}</p>
    {% endif %}
</main>


{% if 404 != code %}
    <div style="display: none">{{ detail|raw }}</div>
{% endif %}

</body>
</html>
