<h1>{{ app.config.name }}</h1>
<nav>
    <a href="{{ path_page('') }}">Home</a>
    <a href="{{ path_page('menu/pages') }}">Pages</a>
    <a href="{{ path_page('menu/templating') }}">Templating</a>
    <a href="{{ path_page('menu/database') }}">DB</a>
    <a href="{{ path_page('menu/images') }}">Images</a>
    <a href="{{ path_page('menu/errors') }}">Errors</a>
    <a href="{{ path_page('menu/php') }}">Php</a>
    <a href="{{ url_gitlab }}">GitLab</a>
</nav>
