<h1>{{ app.config.name }}</h1>
<nav>
    <a href="{{ path_page('') }}">Home</a>
    <a href="{{ path_page('menu/templating') }}">Templating Twig</a>
    <a href="{{ path_page('menu/datas') }}">Datas</a>
    <a href="{{ path_page('menu/php') }}">Php</a>
    <a href="{{ path_page('menu/images') }}">Images</a>
    <a href="{{ path_page('menu/logs') }}">Logs</a>
    <a href="{{ path_page('menu/error_pages') }}">Pages d'erreur</a>
    <a href="{{ url_gitlab }}">GitLab</a>
</nav>
