{% extends "@templates/base.twig" %}

{% block content %}

    <h1>Arnapou Simple site</h1>

    <h2>Docker</h2>

    <p>
        This is the <b>recommended way</b> if you don't want to bother.<br>
    </p>
    <p>
        Useful links:
    </p>

    <ul>
        <li><a href="{{ url_gitlab }}/container_registry/6775210">Container versions</a> on GitLab</li>
        <li><a href="{{ url_gitlab }}/-/blob/main/README.md">README.md</a> on GitLab <small>(with a <code>docker compose</code> example)</small></li>
    </ul>

    <h2>Basics</h2>

    <p>
        This solution is halfway between a static website and a dynamic website.
    </p>
    <p>
        With a simple PHP file <code>simplesite.phar</code> and an <code>index.php</code> which initialize the website,
        you will have a fully functional website :
    </p>
    <pre>
&lt;?php
include '/path/to/simplesite.phar';

SimpleSite::run(
    // mandatory
    path_public: '/public/root/folder/of/website', // probably __DIR__
    path_pages:  '/private/folder/for/pages',
    path_cache:  '/private/folder/for/caching',

    // ... there are other optional parameters
    // ... you can check their description into the index.php of this demo
);
    </pre>

    <p>
        The idea is to create a "static" website composed of <a href="{{ url_twig }}" target="_blank">Twig</a> files.
        This allows you to enrich, simplify and reuse HTML code that is static inside twig html files.
    </p>
    <p>
        We can make a comparison with static site generators, but here, you can enrich the website with php.
    </p>

    <p>
        PHP dependencies are reduced to the essentials to obtain the smallest possible PHAR file.<br>
        The phar size is <code>{{ (simplesite_phar_size / 1024)|round }}&nbsp;KB</code>.
    </p>

    <h2>Prerequisites</h2>

    <p>Have the right PHP version for <code>simplesite.phar</code> concerned.</p>

    <ul>
        <li>knowledge of: HTML, CSS, JS</li>
        <li>templating: <a href="{{ url_twig }}" target="_blank">Twig</a></li>
    </ul>

    <p>To take advantage of the maximum features, you will need to know:</p>

    <ul>
        <li>file format <a href="{{ url_yaml }}" target="_blank">YAML</a></li>
        <li>programming langage <a href="{{ url_php }}" target="_blank">PHP</a></li>
    </ul>

    <h2>Mindset</h2>

    <ul>
        <li>simple</li>
        <li>lightweight</li>
        <li>easy maintenance</li>
        <li>perennial</li>
        <li>automatic fallbacks</li>
        <li>open minded</li>
    </ul>

{% endblock %}
