<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ app.request.uri.host }}{% endblock %}</title>
    <link rel="icon" type="image/svg" href="{{ authenticated ? path('admin_favicon_authenticated') : path('admin_favicon_unauthenticated') }}"/>
    <style>
        {{ source('@internal/simple.css') }}
        {{ source('@internal/admin/style.css') }}
    </style>
    {% block style %}{% endblock %}
</head>
<body>
<header>
    <h1>{{ (authenticated ? 'icon-user' : 'icon-lock')|svg_use }} {{ block('title') }}</h1>
    <nav>
        <a href="{{ path_dir('') }}"><i>{{ 'icon-public'|svg_use }}</i>Public</a>
        <a href="{{ path('admin_home') }}"><i>{{ 'icon-home'|svg_use }}</i>Admin</a>
        {% if authenticated %}
            <a href="{{ path('admin_redirects') }}"><i>{{ 'action-redirect'|svg_use }}</i>Redirects</a>
            <a href="{{ path('admin_logout') }}"><i>{{ 'action-logout'|svg_use }}</i>Logout</a>
        {% endif %}
    </nav>
</header>
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    <a href="https://twig.symfony.com/doc/3.x/" target="_blank">Twig doc</a>&nbsp;&mdash;&nbsp;
    <a href="https://simplesite.arnapou.net/" target="_blank">Simplesite doc</a>&nbsp;&mdash;&nbsp;
    <a href="https://gitlab.com/arnapou/project/simplesite" target="_blank">GitLab project</a>&nbsp;&mdash;&nbsp;
    Simplesite <b>{{ app.version }}</b>
</footer>
<!-- Icon source : https://www.svgrepo.com/collection/duotone-oval-interface-icons/ -->
<svg style="display: none" version="2.0">
    <defs>
        {{ '@internal/svg/action-create.svg'|svg_symbol }}
        {{ '@internal/svg/action-delete.svg'|svg_symbol }}
        {{ '@internal/svg/action-edit.svg'|svg_symbol }}
        {{ '@internal/svg/action-goto.svg'|svg_symbol }}
        {{ '@internal/svg/action-logout.svg'|svg_symbol }}
        {{ '@internal/svg/action-redirect.svg'|svg_symbol }}
        {{ '@internal/svg/action-rename.svg'|svg_symbol }}
        {{ '@internal/svg/action-download.svg'|svg_symbol }}
        {{ '@internal/svg/action-upload.svg'|svg_symbol }}

        {{ '@internal/svg/file-forbidden.svg'|svg_symbol }}
        {{ '@internal/svg/file-generic.svg'|svg_symbol }}
        {{ '@internal/svg/file-picture.svg'|svg_symbol }}
        {{ '@internal/svg/file-sound.svg'|svg_symbol }}
        {{ '@internal/svg/file-text.svg'|svg_symbol }}
        {{ '@internal/svg/file-video.svg'|svg_symbol }}

        {{ '@internal/svg/icon-error.svg'|svg_symbol }}
        {{ '@internal/svg/icon-folder.svg'|svg_symbol }}
        {{ '@internal/svg/icon-home.svg'|svg_symbol }}
        {{ '@internal/svg/icon-lock.svg'|svg_symbol }}
        {{ '@internal/svg/icon-public.svg'|svg_symbol }}
        {{ '@internal/svg/icon-user.svg'|svg_symbol }}
    </defs>
</svg>
</body>
</html>
