{% extends "@internal/admin/base.twig" %}

{% block style %}
    <style>
        .error {
            margin-left: 1rem;
            text-align: center;
        }

        .error svg {
            max-width: 15rem;
            height: auto;
        }

        details div,
        details pre {
            font-size: .8rem
        }
    </style>
{% endblock %}

{% block main %}
    <h2>Error</h2>

    <p class="notice">
        <code>{{ error.message }}</code>
    </p>

    {% if 'dev' == 'APP_ENV'|getenv %}
        <details>
            <summary>Details</summary>

            <div>
                class: <code>{{ error|getclass }}</code><br>
                file: <code>{{ error.file }}</code><br>
                line: <code>{{ error.line }}</code><br>
            </div>
            <pre>{{ error.getTraceAsString }}</pre>

            {% if error.previous %}
                <div>
                    message: <code>{{ error.previous.message }}</code><br>
                    class: <code>{{ error.previous|getclass }}</code><br>
                    file: <code>{{ error.previous.file }}</code><br>
                    line: <code>{{ error.previous.line }}</code><br>
                </div>
                <pre>{{ error.previous.getTraceAsString }}</pre>
            {% endif %}
        </details>
    {% endif %}

    <p class="error">{{ 'icon-error'|svgUse }}</p>
{% endblock %}
