{% extends "@internal/admin/form.twig" %}
{% import "@internal/admin/form.twig" as form %}

{% block main %}
    {{ form.breadcrumb(node, true) }}

    <form action="{{ node|admin_url('admin_delete') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        {{ form.notice(flash_message) }}

        <p class="notice">
            Are you sure to delete the <code>{{ node.name }}</code> {{ node.dir ? 'folder' : 'file' }}?
        </p>

        {{ form.buttons('Delete', node.parent|admin_url) }}
    </form>
{% endblock %}
