{% extends "@internal/admin/form.twig" %}
{% import "@internal/admin/form.twig" as form %}

{% block main %}
    {{ form.breadcrumb(node) }}

    <form action="{{ node|adminUrl }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        {{ form.notice(flash_message) }}

        <p>
            <textarea rows="40" name="source" autofocus>{{ source ?: source(node)|escape }}</textarea>
        </p>

        {{ form.buttons('Save', node.parent|adminUrl) }}
    </form>
{% endblock %}
