{% extends "@internal/admin/form.twig" %}
{% import "@internal/admin/form.twig" as form %}

{% block style %}
    {{ parent() }}
    <style>
        table {
            width: 100%;
            font-size: 1rem;
        }

        td.size {
            text-align: right;
            width: 1em;
            white-space: nowrap;
            min-width: 4rem;
        }

        td.center {
            text-align: center;
            width: 1em;
            white-space: nowrap;
        }

        td:not(:first-child) svg {
            margin: 0;
            padding: -.5rem;
        }

        td a:hover svg {
            transform: scale(1.2);
        }
    </style>
{% endblock %}

{% block main %}
    {{ form.breadcrumb(node) }}

    {{ form.notice(flash_message) }}

    {% set items = node.list %}
    {% if items|length %}
        <table>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        {% if item.dir %}
                            <a href="{{ item|admin_url }}"><i>{{ item.symbol|svg_use }}</i>{{ item.name }}/</a>
                        {% else %}
                            <i>{{ item.symbol|svg_use }}</i>{{ item.name }}
                        {% endif %}
                    </td>
                    <td class="size"><small>{{ item.size }}</small></td>
                    <td class="center"><small>{{ item.time }}</small></td>
                    <td class="center">
                        {% if item.canDownload %}
                            <a href="{{ item|admin_url('admin_download') }}" target="_blank" title="download"><i>{{ 'action-download'|svg_use }}</i></a>
                        {% else %}
                            <i>{{ ''|svg_use }}</i>
                        {% endif %}
                    </td>
                    <td class="center">
                        {% set url = item.publicUrl %}
                        {% if url %}
                            <a href="{{ url }}" target="_blank" title="open in another tab"><i>{{ 'action-goto'|svg_use }}</i></a>
                        {% else %}
                            <i>{{ ''|svg_use }}</i>
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if item.canRename %}
                            <a href="{{ item|admin_url('admin_rename') }}" title="rename"><i>{{ 'action-rename'|svg_use }}</i></a>
                        {% else %}
                            <i>{{ ''|svg_use }}</i>
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if item.canEdit %}
                            <a href="{{ item|admin_url }}" title="edit"><i>{{ 'action-edit'|svg_use }}</i></a>
                        {% else %}
                            <i>{{ ''|svg_use }}</i>
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if item.canDelete %}
                            <a href="{{ item|admin_url('admin_delete') }}" title="delete"><i>{{ 'action-delete'|svg_use }}</i></a>
                        {% else %}
                            <i>{{ ''|svg_use }}</i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="notice">
            <i>{{ 'icon-error'|svg_use }}</i> <code>Empty folder ...</code>
        </p>
    {% endif %}

    <p style="float: right">
        <small>
            {% if node.canCreate %}
                <a href="{{ node|admin_url('admin_create_folder') }}"><i>{{ 'action-create'|svg_use }}</i>Create folder</a>
                <i>{{ ''|svg_use }}</i>
                <a href="{{ node|admin_url('admin_create_file') }}"><i>{{ 'action-create'|svg_use }}</i>Create file</a>
                <i>{{ ''|svg_use }}</i>
            {% endif %}
            <a href="{{ node|admin_url('admin_upload') }}"><i>{{ 'action-upload'|svg_use }}</i>Upload</a>
        </small>
    </p>
{% endblock %}
