<h1>{{ app.config.name }}</h1>
<nav>
    <a href="/">Home</a>
    <a href="{{ path_page('pages/templating') }}">Templating</a>
    <a href="{{ path_page('pages/datas') }}">Datas</a>
    <a href="{{ path_page('pages/php') }}">Php</a>
    <a href="{{ path_page('pages/images') }}">Images</a>
    <a href="{{ path_page('pages/logs') }}">Logs</a>
    <a href="{{ path_page('pages/error_pages') }}">Pages d'erreur</a>
    <a href="https://gitlab.com/arnapou/simplesite"><i class="gitlab-icon"></i> GitLab</a>
</nav>
