<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path_dir('') }}">
        Home
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path_page('pages/templating') }}">Templating</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_page('pages/datas') }}">Datas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_page('pages/php') }}">Php</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_page('pages/images') }}">Images</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_page('pages/logs') }}">Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_page('pages/error_pages') }}">Pages d'erreur</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_gitlab }}">GitLab</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_arnapou }}">Arnapou</a>
            </li>
        </ul>
    </div>
</nav>